.main__videocard-shot{
    background:center/100% url('../../../../images/video_card.jpg');
    background-size: 1300px;
    margin-bottom: -14px;
    object-fit: cover;
    width: 1280px;
    height: 540px;
}
