.footer__companyName{
    width: 119px;
    height: 13px;
    margin-top: -11px;
    margin-left: 1083px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}