.slider__rgbText{
    width: 508.42px;
    height: 116.58px;
    margin-top: -470px;
    margin-left: 40px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}
