.main__videocard-text{
    margin-top: -420px;
    width: 350px;
    height: 58px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 48px;
    color: #787878;
}

#main__videocard-nav ul{
    list-style-type: none;
    text-align: left;
}