.main__assemble-text{
    text-align: right;
    margin-top: -640px;
    margin-left: 700px;
    width: 530px;
    height: 58px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 48px;
    color: #ffffff;
}
