.slider__rgbText__greyText{
    width: 418px;
    height: 60px;
    margin-top: -70px;
    margin-left: 40px;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 48px;
    color: #9B9B9B;
}
