.slider__text{
    width: 508px;
    height: 169px;
    margin-top: -533px;
    margin-left: 61ёpx;
    font-family: Helvetica;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}