.footer__text{
    width: 183px;
    height: 13px;
    margin-top: 0px;
    margin-left: 23px;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 13px;
    line-height: 47px;
    color: #FFFFFF;
}
